.bodyy {
    margin-top: 50px;
    padding-left: 10px;
    padding-bottom: 150px;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid gray;
    width: 10%;
    height: 100%;
    
}
.image {
    width: 220px;
}
.signup{
    text-decoration: brown;
}