.followersnum {
    padding-left: 250px;
}

.followers {
    display: flex;
    align-items: center;
}

.followername {
    margin-left: 15px;
    

}

.removefollower {
    border: 1px solid gray;
    display: flex-end;
}
.round-image {
    border-radius: 50%;
    width: 70px;
    height: 60px;
}